<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <title>Add New User</title>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({
            pageLanguage: 'en',
            includedLanguages: 'en,ro,fr,es,de,it',
            layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
          }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>
<h1>Add New User</h1>
<form th:action="@{/users}" th:object="${user}" method="post">
    <label>
        Name: <input type="text" th:field="*{name}" required />
    </label>
    <br/>
    <label>
        Email: <input type="email" th:field="*{email}" required />
    </label>
    <br/>
    <button type="submit">Save User</button>
</form>
<p><a th:href="@{'/'}">Back to Home</a></p>
</body>
</html>
